body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  
}

h1 {
  font-size: 150%;
  font-family: 'Proza Libre', sans-serif;
  text-align:center;
  background-color: black;
  Margin:0px;
  
}

ul {
  list-style-type: disc;
}

p {
  margin-bottom: 10px;
}

a {
  color:#7aa37a;
}

a:visited {
  color:black;
}

a:hover {
  font-style: italic;
}

main {
  color:white;
  opacity: 1;
  padding:15px;
}

nav {
  text-align: left;
  float: left;
  display:inline;
  width: 15%;
  padding:25px;
  margin-top:20px;
  
}

footer {
  /* text-align: right; */
  position: absolute;
  top: 0;
  right:0;
  margin-left: 30%;
  margin-top:40px;
  padding:10px;
}

#mainContainer {
  background-color: rgb(26, 37, 26, 1);
  margin-left: 20%;
  margin-bottom: 1000px;
}

.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color:white; 
}

#links {
   position: fixed;
  top: 0;
  left: 0;
  
  background-color:rgba(255, 255, 255, 0.05); 
}

#topImage {
  float:right;
  margin-right:15px;
}

#bottomImage {
  clear:both;
  width:330px;
  height:415px;
  opacity: .75;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* css codde for some shapes I lifted from the Internet and adjusted to fit in the page */

#circle {
  width: 100px;
  height: 100px;
  background: rgb(26, 37, 26, 1);
  border-radius: 50%;
  position: relative;
  top: -1010px;
  left: 75%;
  border: solid black 5px;
}

#circleA {
  width: 100px;
  height: 100px;
  background: #617761;
  border-radius: 50%;
  position: relative;
  top: -750px;
  left: 10%;
  border: solid black 5px;
}

#circleB {
  width: 100px;
  height: 100px;
  background: #112211;
  border-radius: 50%;
  position: relative;
  top: -600px;
  left: 40%;
  border: solid black 5px;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #091d09;
  border-right: 100px solid transparent;
  position: relative;
  top: -1250px;
  left: 30%;
  
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid rgb(26, 37, 26, 1);
  border-left: 100px solid transparent;
  position: relative;
  top: -1100px;
  left: 85%;
  
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid rgb(26, 37, 26, 1);
  position: relative;
  top: -750px;
  left: 75%;
  
}

#parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: #3c4a3c;
  position: relative;
  top: -1300px;
  left: 50%;
  
}

#circles {
  opacity: 1;
  
}



/* special fonts
font-family: 'Proza Libre', sans-serif;
font-family: 'Open Sans', sans-serif;
 */

/* Other colors in pallette:
#617761
#3c4a3c
#112211
#091d09 
*/